{
  "all": true,
  "sourceMap": false,
  "instrument": false,
  "include": [
    "modules/**/*.js"
  ],
  "exclude": [
    "test/**/*.js",
    "modules/builder/src/utils/*.js",
    "modules/parser/src/utils/*.js"
  ]
}
