# uber
easydict
protobuf
numpy
websockets
pytest
# Raven
pyyaml==3.13
paho-mqtt==1.4.0

# newer verisons of opencv has breaking changes.. lol
opencv-python==4.1.2.30  

Cython==0.29.22
wheel==0.34.2
matplotlib==3.3.2
utm==0.5.0
